<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Book List</title>
</head>
<body>
    <h1>All Books</h1>

    {% if books %}
        <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'bookstore:detail' book.pk %}">{{ book.title }}</a>
                <br>
                Author: {{ book.author }} <br>
                Price: {{ book.price }} <br>
                Date: {{ book.created_date }}
                <hr>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No books available.</p>
    {% endif %}
</body>
</html>